# Logs
logs
*.log

# next.js build output
.next
.mdx-data

# dependencies
/node_modules

# NPM and Yarn
.npm
*.tgz
.node_repl_history
.yarn-integrity
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env
.env.local

# vercel
.vercel
vercel.json

# image
Thumbs.db

