:root {
  --darkest: #000;
  --lightest: #fff;
  --muted: #ababab;

  --code-highlight: #1a2d3d;

  --link: #016eda;
  --link-hover: #1c74dc;
  --link-visited: #9c69ff;
}

html {
  background: var(--lightest);
  color: var(--darkest);
}

html.dark {
  background: var(--darkest);
  color: var(--lightest);
}

.bg {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://storage.cloud.google.com/lokimckay-com/bg-dark.png");
  background-size: cover;
}

html:not(.dark) .bg {
  background-image: url("https://storage.cloud.google.com/lokimckay-com/bg-light.png");
}
