:root {
  --darkest: #000;
  --lightest: #fff;
  --muted: #ababab;

  --code-highlight: #1a2d3d;

  --link: #016eda;
  --link-hover: #1c74dc;
  --link-visited: #9c69ff;
}

html {
  background: var(--lightest);
  color: var(--darkest);
}

html.dark {
  background: var(--darkest);
  color: var(--lightest);
}
