a {
  color: var(--link);
  text-decoration: none;
}
a:visited {
  color: var(--link-visited);
}
nav a:visited,
a.back:visited,
a.back-fixed:visited {
  color: var(--link);
}
a:hover,
nav a:hover {
  color: var(--link-hover);
  text-underline-offset: 0.1em;
}
a:hover {
  text-decoration: underline dotted;
}
nav a:hover {
  text-decoration: underline;
}

nav {
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1em;
}
