---
import "./gallery.css";
export interface Props {
  images: string[];
  base?: string;
  width?: string;
  height?: string;
  gap?: string;
  columns?: string;
}
const { images = [], base = "", width, height, gap, columns } = Astro.props;
let style: any = {};
if (width) style["--width"] = width;
if (height) style["--height"] = height;
if (gap) style["--gap"] = gap;
if (columns) style["--columns"] = columns;
---

<div class="gallery" style={style}>
  {images.map((image) => <img src={`${base}${image}`} />)}
</div>
