ul.posts {
  list-style: none;
  padding: 0;
}

ul.posts li {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 1em;
  align-items: center;
  line-height: 1.35em;
}

@media (max-width: 40rem) {
  ul.posts li span,
  ul.posts li a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

ul.posts li span {
  color: var(--muted);
}

ul.posts li a:hover {
  position: relative;
  left: 2px;
}

.pinned {
  border: 1px dashed var(--muted);
  border-radius: 0.25em;
  padding: var(--page-padding);
  margin-left: calc(-1 * var(--page-padding));
  margin-right: calc(-1 * var(--page-padding));
}

@media (min-width: 40rem) {
  .pinned {
    padding-right: calc(var(--page-padding) * 1.2);
    margin-right: calc(-1 * var(--page-padding) * 1.2);
  }
}

.pinned ul {
  margin: 0;
}
.pinned > span:first-of-type {
  display: block;
  margin-bottom: 1em;
}
