---
interface Props {
  widgetSrc?: string;
  gameSrc?: string;
}
const { widgetSrc, gameSrc } = Astro.props;
---

<div class="itchio-embed">
  {widgetSrc && <iframe src={widgetSrc} width="640" height="167" />}
  {
    gameSrc && (
      <div class="game">
        <iframe src={gameSrc} allowfullscreen width="1280px" height="720px" />
      </div>
    )
  }
</div>

<style>
  .itchio-embed {
    width: 640px;
    border: 0;
    margin: 0;
    margin-bottom: 20em;
  }
  .itchio-embed .game {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }
</style>
