---
import { favicon, siteName } from "@/lib/config";
import ThemeToggle from "@/components/themeToggle.astro";
import Nav from "@/components/nav.astro";
import { ViewTransitions } from "astro:transitions";
import "@/styles/base.css";
const { title = siteName } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link
      rel="icon"
      href={`data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text x=%22-.1em%22 y=%22.95em%22 font-size=%2285%22>${favicon}</text></svg>`}
    />
    <ViewTransitions />
    <script is:inline>
      // dark / light mode
      function checkTheme() {
        const canUseLS = typeof localStorage !== "undefined";
        const stored = canUseLS && localStorage.getItem("theme");
        const classList = document.documentElement.classList;
        if (stored) classList.add(stored);
        else {
          const sys = window.matchMedia(
            "(prefers-color-scheme: light)"
          ).matches;
          classList.add(sys ? "light" : "dark");
          classList.remove(sys ? "dark" : "light");
          localStorage.setItem("theme", sys ? "light" : "dark");
        }
      }
      checkTheme();
      document.addEventListener("astro:after-swap", checkTheme);
    </script>
  </head>
  <body>
    <div class="bg"></div>
    <slot name="before-nav" />
    <ThemeToggle />
    <Nav />
    <slot />
  </body>
</html>
