---
import Base from "./base.astro";
import "@/styles/post.css";
---

<Base>
  <a href="/" class="back-fixed" slot="before-nav">← Home</a>
  <article>
    <slot />
  </article>
  <a href="/" class="back">← Home</a>
</Base>
